* {
    margin: 0%;
    padding: 0%;

}

body{
   text-align: center;
   background-color: bisque;
}


input{
    width: 60px;
    height: 60px;
    margin: 2px;
    margin-top: 10px;
    background-color: rgb(58, 42, 42);
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}
#text{
    width: 250px;
    background-color: rgb(31, 30, 30);
    color: white;
}
.but-plus{
    background-color: cornflowerblue;
}
.but-sub{
    background-color: aqua;
}
.but-mult{
    background-color: rgb(134, 87, 30);
}
.but-div{
    background-color: silver;
}
.but-c{
    background-color: red;
}
.Calculater{
    width:300px;
    height: 390px;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    left: 450px;
    background-color: black;
    margin-top: 100px;
}